{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "comma-dangle": [2, "never"],
    "no-cond-assign": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-control-regex": 0,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-empty-class": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 0,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-reserved-keys": 0,
    "no-sparse-arrays": 0,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,

    "block-scoped-var": 0,
    "complexity": 8,
    "consistent-return": 0,
    "curly": [2, "multi-line"],
    "default-case": 2,
    "dot-notation": [2, {"allowKeywords": true, "allowPattern": "^[a-z]+(_[a-z]+)+$"}],
    "eqeqeq": [2, "smart"],
    "guard-for-in": 0,
    "no-alert": 0,
    "no-caller": 2,
    "no-div-regex": 0,
    "no-else-return": 2,
    "no-empty-label": 2,
    "no-eq-null": 0,
    "no-eval": 2,
    "no-extend-native": 0,
    "no-extra-bind": 2,
    "no-fallthrough": 0,
    "no-floating-decimal": 0,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 0,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 0,
    "no-process-env": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 0,
    "no-script-url": 2,

    "no-self-compare": 2,
    "no-sequences": 0,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-void": 0,
    "no-warning-comments": 0,
    "no-with": 2,
    "radix": 0,
    "vars-on-top": 0,       // Should be 2 someday as it is what the Javascript compiler does anyway
    "wrap-iife": [2, "any"],
    "yoda": [2, "never", {"exceptRange": true}],

    "strict": [2, "global"],

    "no-catch-shadow": 0,
    "no-delete-var": 0,
    "no-label-var": 2,
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": [2, "nofunc"],

    "handle-callback-err": 2,
    "no-mixed-requires": 0,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-exit": 2,
    "no-restricted-modules": 0,
    "no-sync": 0,

    "indent": [2, 2, {"indentSwitchCase": true}],
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "never"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "consistent-this": [1, "self"],
    "eol-last": 2,
    "func-names": 0,
    "func-style": 0,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "max-nested-callbacks": [1, 4],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": 0,
    "no-array-constructor": 2,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-nested-ternary": 0,
    "no-new-object": 2,
    "no-spaced-func": 0,        // Try 2 in a few versions, there is a bug at the moment in ESLint (0.19.0)
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-wrap-func": 2,
    "one-var": 0,               // [2, "always"], Maybe someday, wait for ES6 let and const support first
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "after"],
    "padded-blocks": 0,         // [2, "never"], A limitation with comments in babel-eslint currently prevents this (3.0.1)
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "sort-vars": 0,
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "never", "named": "never"}],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "spaced-line-comment": [0, "always", {"exceptions": [
      "#",
      "=",
      "@",
      "()",
      "class",
      "var",
      "let",
      "const",
      "if",
      "else",
      "try",
      "catch",
      "switch",
      "case",
      "do",
      "while",
      "void",
      "return",
      "typeof",
      "function"
    ]}],
    "wrap-regex": 0,

    "no-var": 0,
    "generator-star-spacing": [2, "before"],

    "max-depth": [2, 4],
    "max-len": [2, 160, 4],
    "max-params": [1, 7],
    "max-statements": [1, 40],
    "no-bitwise": 0,
    "no-plusplus": 0,

    "react/display-name": 0,
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-quotes": [2, "double"],
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "phantomjs": true
  },
  "globals": {
  }
}